<table class="table table-hover table-inverse">
    <caption class="showobserver">Список как наблюдатель <span>-</span></caption>
    <tbody class="higobserver">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-2 col-xs-2 text-center">
                            @if (item.Info)
                            {
                                <img src="~/Content/1.png" class="img-responsive center-block" width="30" height="30" />
                            }
                            else
                            {
                                <img src="~/Content/2.png" class="img-responsive center-block" width="30" height="30" />
                            }
                        </div>
                        <p>Задача № @item.Id</p>
                        <div class="col-md-12 col-xs-12">
                            <p>@item.Name</p>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <span class="left">@item.Status</span>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <span class="right">@item.Username</span>
                                </div>
                            </div>
                            <p class="text-center">@item.Time</p>
                        </div>
                    </div>
                </td>
            </tr>
        } 
    </tbody>
</table>