<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Slobkoll HRM</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
</head>
<body style="height:100vh; min-height:100vh; background-color:lightgray;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Slobkoll HRM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.UserHome.UserPerformer.Count > 0 || ViewBag.UserHome.GroupPerformer.Count > 0)
                    {
                        <li>@Html.ActionLink("Создать задачу", "AddTask", "Home")</li>
                    }
                    @if (ViewBag.UserHome.AdminRole == true)
                    {
                        <li>@Html.ActionLink("Администрирование", "UserIndex", "AdminTools")</li>
                    }
                    @if (ViewBag.UserHome.OtRole == true)
                    {
                        <li>@Html.ActionLink("Отчеты", "Reports", "Report")</li>
                    }
                    <li>@Html.ActionLink("Помощь", "Index", "Help")</li>
                    <li>@Html.ActionLink("Выйти из системы", "Logoff", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container content">
        @RenderBody()
    </div>
    <footer class="container footer">
        <p>
            &copy; @DateTime.Now.Year - КОГПОБУ "Слободской колледж
            педагогики и социальных отношений". Все права защищены.
        </p>
    </footer>
</body>
</html>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/Myscripts")
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/util.js"></script>
@RenderSection("scripts", required: false)
<script>
    $(document).ready(function () {
        $(".showauthor").click();
        $(".showperfomen").click();
        $(".showarchive").click();
        $(".showobserver").click();
        $(".showobserverarchive").click();
        $(".datetimepicker").datetimepicker({
            format: 'd.m.Y H:i',
            lang: "ru",
            minDate: 0,
        });
        $(".datetimepicker1").datetimepicker({
            timepicker: false,
            format: 'd.m.Y',
            lang: "ru",
            maxDate: 0,
        });
        $('#submit').click(function (e) {
            e.preventDefault();
            var date1 = $('#search').val();
            var date2 = $('#search1').val();
            date1 = encodeURIComponent(date1);
            date2 = encodeURIComponent(date2);
            $('#results').load('@Url.Action("ReportsSearch", "Home")?date1=' + date1 + '&date2=' + date2);
        })
    });
    $(window).resize(function () {
        var a = $(window).height();
        var b = $(".navbar").outerHeight(true);
        var c = $(".footer").outerHeight(true);
        var d = a - b - c;
        $(".block-left").height(d);
        $(".block-right").height(d);
        $(".container .content").height(d);
    });
    $(window).resize();
</script>