@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Shared/_LayoutAdminTools.cshtml";
}
<h2>Список пользователей</h2>
<p>
    @Html.ActionLink("Создать нового пользователя", "UserCreate")
</p>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Должность</th>
        <th>статус</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.Position</p>
            </td>
            <td>
                @if (@item.StatusUser == true)
                {
                    <p>Активен</p>
                }
                else
                {
                    <p>Деактивен</p>
                }
            </td>
            <td>
                @Html.ActionLink("Редактирование", "UserEdit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "UserDetails", new { id = item.Id })
            </td>
        </tr>
    }
</table>
